{% extends 'shop/basic.html' %}

{%block title%}About Us {% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><b>My Ice-Cream Cart</b></h1>
      <p>My Ice-Cream Cart is an Indian e-commerce website.This website covers a wide range of products such as ice-creams and other dairy products.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Isha Joglekar</h2>
        <p><h4>Phone:7045006828</h4></p>

      </div>
      <div class="col-md-4">
        <h2>Deepanshu Vangani</h2>
        <p><h4>Phone:9167687712</h4></p>

      </div>
      <div class="col-md-4">
        <h2>Parth Shah</h2>
        <p><h4>Phone:8691810202</h4></p>
        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock body %}
